@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  background-color: #fff2f5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #737373;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #f190b6;
  font-size: 50px;
  margin: 20px auto;
}

h2 {
  width: 180px;
  color: #f69cbf;
  font-size: 30px;
  margin: 10px auto;
  cursor: pointer;
}

h2:hover {
  font-size: 35px;
  color: #ffb9d4;
}

h3 {
  color: #f69cbf;
  font-size: 25px;
  margin: 20px auto 10px auto;
}

select,
button {
  border-radius: 5px;
  background-color: #fff2f5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #737373;
  padding: 5px;
}

p {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  line-height: 30px;
}

#navbar nav {
  position: fixed;
  top: 0;
  background-color: #efbfc6;
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 70px auto 60px;
  align-items: center;
}

#logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: auto;
  cursor: pointer;
}

#navbar h3 {
  font-size: 30px;
  color: #ff7caf;
  margin: 0 auto 0 0;
}

#hamburger {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

#hamburger * {
  width: 30px;
  margin: 3px auto;
  border: 3px solid #ff7caf;
  border-radius: 10px;
}

.nav-activated {
  background-color: #f4d4d9;
}

#sublinks nav {
  background-color: #f4d4d9;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sublinks nav * {
  margin: 3px auto;
  cursor: pointer;
  color: #737373;
}
#sublinks nav *:hover {
  color: #f69cbf;
}

#rules-screen img {
  border-radius: 10px;
  border: 2px solid black;
  width: 80px;
  height: 80px;
  margin: 5px;
  cursor: pointer;
}

#rules-screen .container {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

#rules-screen {
  height: 100%;
  margin-top: 100px;
}

#rules-screen .paragraphs {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 400px;
  margin: auto;
}

#new-para {
  font-size: 22px;
  color: #f69cbf;
  text-shadow: 0.5px 0.5px #737373;
  margin-bottom: 0;
}

#game-screen {
  height: 100%;
  margin-top: 150px;
}

#icons img {
  border-radius: 10px;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin: 5px;
}

#game-screen p {
  margin: 0 auto;
  margin-bottom: 50px;
}

#spin {
  color: #ff7caf;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

#spin:hover {
  color: #f69cbf;
}

.opacity {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 650px) {
  #rules-screen > div {
    max-width: 800px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
